<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Patients</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<h1>Patients</h1>
<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="patient : ${patients}">
        <td th:text="${patient.id}">ID</td>
        <td th:text="${patient.name}">Name</td>
    </tr>
    </tbody>
</table>
<br>
<br>
<a th:href="@{/}">Back to Home</a>
</body>
</html>
